#play_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0;
}

#play_div .block-header {
  font-size: 18px;
  flex: 1;
}

.ginput_div {
    display: flex;
    flex: 9;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.ginput_div .row.no-gap {
    margin: 0;
    width: 100%;
    align-items: center;
    flex: 1;
}

.picker_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.picker_container > * {
  flex: 1;
}

.ginputs .list {
  margin: 0;
  flex-grow: 3;
}

.ginputs .block-title {
  margin-top: var(--f7-block-title-margin-bottom);
}

#play_button {
    flex: 2;
    align-items: flex-end;
}

:root {
  --f7-tabbar-labels-height: 40px;
  --f7-toolbar-height: 40px;
}

/*/ when in landscape mode, use a two-column layout for the game inputs /*/
@media screen and (orientation: landscape) {
  #play_div {
    display: block;
    width: 100%;
  }

  #play_div .block-header {
    width: 100%;
    text-align: center;
  }

  .ginput_div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .row.no-gap.ginputs {
    max-width: 50% !important;
    flex: none;
  }

  #play_button {
    flex: none;
    width: 100%;
  }
}
