#play_div {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
  flex-wrap: wrap;
  flex: 1;
}

#play_div .block-header {
  font-size: 18px;
  text-align: center;
  width: 100%;
}

#picker_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  flex: 5;
}

.ginput_div {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.ginputs {
  width: 50%;
  flex: none;
  margin: 0;
  align-items: center;
  align-content: space-around;
}

.picker_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.picker_container>* {
  flex: 1;
}

.ginputs .list {
  margin: 0;
  flex-grow: 2;
}

.ginputs .block-title {
  margin-top: var(--f7-block-title-margin-bottom);
}

#play_button {
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex: none;

  .button {
    width: 50%;
  }
}

#save_game {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  .ginput_div {
    flex-direction: column;
  }

  .ginputs {
    width: 100%;
    flex: 5;
  }

  #play_button {
    flex: 1;
  }

  #play_div .block-header {
    flex: none;
  }

  #picker_div {
    flex-direction: column;
  }
}