#play_table {
  width: 100%;
}

#play_table .gt_column_spanner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 40px !important
}

#play_table .gt_column_spanner:hover {
  overflow: visible;
  white-space: normal;
}

div#play_table {
  overflow-x: unset !important;
  overflow-y: unset !important;
}

#play_table thead {
  position: sticky !important;
  top: 0 !important;
}