.smart-select-popover {
  width: auto;
}

.avatar-option .item-media img, .avatar {
  height: calc(var(--f7-input-height) + var(--f7-list-item-padding-vertical));
  padding-bottom: var(--f7-list-item-padding-vertical);
}

.avatar-option {
  .item-inner {
    display: none;
  }

  .item-radio.item-content {
    justify-content: space-evenly;
    padding-right: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right))
  }
}

#apinputs_div {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.apinputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--f7-list-margin-vertical);
}

.apinputs>* {
  flex: 1;
  margin: 0;
}

#setup_div>div:nth-child(1) .item-inner {
  padding-right: 0;
}

#pinputs {
  flex: 2;
}

#ainputs {
  flex: 1;
}

#ainputs .item-content {
  padding-left: 0;
}

.popup.modal-in[style] {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.popup.modal-in>.block {
  width: 100%;
  flex: 1;
}

#setup_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#setup_div .list {
  margin-top: 0;
}

#load_game_div {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: var(--f7-list-margin-vertical);
}

#load_game_div .list {
  margin-bottom: 0;
}